:root {
  --white-color: #ffffff;
  --black-color: #293a46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background: #fbfbfb;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 34.5px;
  margin-bottom: 10px;
  color: var(--black-color);
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34.5px;
  margin-bottom: 10px;
  color: var(--black-color);
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27.6px;
  margin-bottom: 10px;
}

h4 {
  font-weight: bolder;
  font-size: 18px;
  line-height: 30px;
  color: var(--black-color);
  margin-bottom: 10px;
}

ul,
ol {
  font-weight: 400;
  font-size: 16px;
  line-height: 16.1px;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol li,
ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-left: 1rem;
}

ol li {
  list-style: decimal;
}

ul li {
  list-style: disc;
}

span {
  font-weight: 400;
  font-size: 16px;
  line-height: 16.1px;
  margin-bottom: 10px;
  color: var(--black-color);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
  color: var(--black-color);
}

a {
  font-weight: 400;
  font-size: 16px;
  line-height: 16.1px;
  margin-bottom: 10px;
  color: rgb(193 8 65);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.mt-48 {
  margin-top: 32px;
}

.container {
  width: 100%;
  max-width: 894px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-justify {
  text-align: justify;
}

header {
  padding: 0px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box .header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-box .header-left a {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 27.6px;
  color: #293a46;
}

.header-image {
  width: 50px;
  height: 50px;
  background-position: -28px 0px;
}

.navbar {
  display: flex;
  gap: 0;
}

.navbar li {
  margin: 0;
  list-style: none;
}

.navbar a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.4px;
  color: var(--black-color);
  display: block;
  margin: 0;
  padding: 24px 14px;
}

.navbar a:hover {
  color: #c10841;
  background-color: #eeeeee;
}

.language {
  position: relative;
  display: flex;
  align-items: center;
}

.lang-wrap {
  display: flex;
  gap: 3px;
}

.lang-image {
  width: 20px;
  height: 20px;
  background-position: -1px 0px;
}

.sub-language {
  position: absolute;
  top: 30px;
  left: auto;
  right: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
  display: none;
}

#language-btn {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
    margin: 0;
  padding: 24px 14px;
}

#language-btn:hover {
  color: #c10841;
  background-color: #eeeeee;
}

.sub-language li p {
  display: block;
  font-size: 16px;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 24px;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
}

ul.sub-language.lang_menu {
  opacity: 1;
  display: block;
  visibility: visible;
}

.sub-language li:hover {
  background: #f1f1f1;
  color: #c10841;
}

.mobile-menu {
  color: #293a46;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #c10841;
  border-radius: 4px;
  display: none;
}

.mobile-menu span {
  background: #c10841;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 5px;
}

#suggestion_box {
  position: absolute;
  width: 100%;
  height: auto;
  top: 60px;
  left: 0;
  z-index: 1;
}

ul#suggestions {
  padding: 0 0 5px;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #f3f1f1;
  background: linear-gradient(180deg, #fff 0%, #f4f4f4 100%);
  margin: 0;
}

li.search_result {
  color: #424143;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 15px;
  cursor: pointer;
  margin: 5px 0;
  list-style: none;
}

.banner-box {
  border-radius: 10px;
  border: 2px solid #e7e9ed;
  padding: 48px;
  background: #ffffff;
  text-align: center;
}

.banner-box-content {
  width: 100%;
  max-width: 894px;
  margin: 0 auto;
  padding: 0;
}

.banner-box p {
  font-size: 16px;
  line-height: 18.4px;
}

.banner-box span,
.banner-box span a {
  font-size: 13px;
}

.search-box {
  position: relative;
  margin: 40px auto 6px;
  border-radius: 4px;
  border: 4px solid #e2084a;
  padding: 0px;
  max-width: 600px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.banner-box .search-box input {
  width: 90%;
  border: none;
  color: var(--black-color);
}

.search-box input,
.search-box ::placeholder {
  font-size: 18px;
  line-height: 20.7px;
  font-weight: 400;
  color: rgb(41 58 70 / 50%);
  outline: none;
}

.search-box .search-wrap {
  width: 100%;
}

.search-image {
  width: 24px;
  height: 24px;
  background-position: -2px -25px;
}

.primary-btn {
  background: #e2084a;
  color: #fff;
  padding: 13px 40px;
  border-radius: 0;
  border: none;
  font-size: 18px;
  line-height: 20px;
  height: 100%;
  cursor: pointer;
}

.feature-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: start;
  gap: 40px;
  text-align: center;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 24px;
  line-height: normal;
  color: #e2084a;
  font-weight: 700;
}

.fea-img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.fast-img {
  background-position: 0px -55px;
}

.multiple-img {
  background-position: -55px -55px;
}

.unlimited-img {
  background-position: -116px -55px;
}

.nologin-img {
  background-position: -172px -55px;
}

.feature-list p {
  font-size: 16px;
  line-height: 24px;
}

.faq-sec {
  border-radius: 10px;
  border: 1px solid #e7e9ed;
  padding: 20px 20px 10px;
  margin-bottom: 10px;
  background: #fff;
}

.faq-sec h3 {
  font-weight: 600;
}

.border-line {
  border: 1px solid #e7e9ed;
}

.border-line2 {
  border: 1px solid #e7e9ed;
  width: 200px;
  margin: 32px auto;
}

.footer {
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  margin: 0;
  list-style: none;
}

.footer p {
  font-size: 16px;
  line-height: 16.1px;
}

.footer a {
  color: #293a46;
}

.y2meta-guide {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.spinner {
  width: 65px;
  height: 65px;
  margin: 70px auto;
  position: relative;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .box-1,
.spinner .box-2,
.spinner .box-3,
.spinner .box-4 {
  width: 10px;
  height: 60px;
  background: #f42c63;
  border-radius: 4px;
  float: left;
  margin-left: 5px;
}

.spinner .box-1 {
  -webkit-animation: loading-1 0.2s linear infinite alternate;
  animation: loading-1 0.2s linear infinite alternate;
}

.spinner .box-2 {
  -webkit-animation: loading-1 0.4s linear infinite alternate;
  animation: loading-1 0.4s linear infinite alternate;
}

.spinner .box-3 {
  -webkit-animation: loading-1 0.6s linear infinite alternate;
  animation: loading-1 0.6s linear infinite alternate;
}

.spinner .box-4 {
  -webkit-animation: loading-1 0.8s linear infinite alternate;
  animation: loading-1 0.8s linear infinite alternate;
}

@keyframes loading-1 {
  0% {
    height: 15px;
  }

  100% {
    height: 60px;
  }
}

.search_results {
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item_box {
  height: 100%;
  cursor: pointer;
}

.item_box img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.inside_box {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search_results .inside_box p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-submit {
  display: inline-block;
  color: #fff;
  background-color: #e2084a;
  border-color: #e2084a;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 3px 6px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit span {
  font-size: 18px;
  line-height: normal;
  padding-left: 8px;
  margin: 0;
  color: #ffffff;
}

.warning {
  background: rgba(244, 215, 201, 0.37);
  color: #d93025;
  border-color: #d93025;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0px;
}

.blocked_error.warning p {
  color: #d93025;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.btn-group {
  padding: 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.btn-download,
.btn-playnow {
  background: #00a80c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  width: 200px;
  border: none;
  display: block;
  text-decoration: none;
  color: #fff;
}

a.btn-download,
a.btn-playnow {
  color: #fff;
}

.btn-group div {
  position: relative;
}

.btn-playnow {
  background: #c3291a;
}

.btn-group span {
  display: block;
  position: absolute;
  right: 5px;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #f20a51;
}

.down_wrap {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .navbar {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 2px #0000001f;
    left: 0;
    top: 70px;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
  }

  .navbar li {
    display: block;
    padding: 10px 15px;
  }

  ul.navbar.open_menu {
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }

  .sub-language {
    position: unset;
    background: transparent;
    border: unset;
    box-shadow: unset;
    padding: 0;
    padding-top: 15px;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu span:last-child {
    margin-bottom: 0;
  }

  .search_results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .search-box {
    padding: 0;
    flex-direction: column;
    border: none;
    height: auto;
  }

  .search-box .search-wrap {
    width: 100%;
    margin: 0;
    border-radius: 4px;
    border: 2px solid rgb(193 8 65);
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .primary-btn {
    width: 100%;
    border-radius: 4px;
  }

  .feature-list {
    grid-template-columns: auto;
    gap: 20px;
  }

  .footer ul {
    gap: 10px;
  }

  .banner-box-content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .y2meta-guide {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .banner-box {
    padding: 20px;
    border-radius: 0;
  }

  .search-box input,
  .search-box::placeholder {
    font-size: 14px;
    line-height: 18px;
  }

  h1 {
    font-size: 26px;
  }

  .search_results {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-group {
    gap: 10px 15px;
  }

  .btn-download,
  .btn-playnow {
    font-size: 14px;
    padding: 10px;
    width: 124px;
  }
}

iframe {
  height: 410px;
}

@media only screen and (max-width: 340px) {
  iframe {
    height: 360px;
  }
}